.image{
    text-align: center;
    width: 15%;
    margin: auto;
    display: block;
    border-radius: 5px;
}

h1{
    color: white;
    margin-top: 20px;
    margin-bottom: 26px;
    text-align: center;
    font-weight: bold;
}

h6,hr{
    margin-top: 20px;
}

.pro{
    color: white;
    font-size: 20px;
    border-style: none;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    padding: 35px;
}