/* FAQs page CSS - Dumindu */
body {
    background-image: url('../images/questionmark-bluebackgorund.jpg');
    background-size: cover;
}

.faqcontent {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 25px;
}

h1 {
    margin: 0 auto 0 auto;
    width: fit-content;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    font-size: 50px;
    margin-bottom: 25px;
}

.questions {
    margin: 40px 150px 50px 150px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 20px;
}

.navforfaq {
    width: fit-content;
    margin: 0 auto 0 auto;
}

.navforfaq ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 auto;
}

.navforfaq ul li a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 10px;
    text-transform: uppercase;
}

.navforfaq ul li a.active{
    background-color: rgb(156, 68, 9);
    transition: .5s;
}

.navforfaq ul li a:hover{
    background-color: rgb(209, 118, 57);
    transition: .5s;
}

.questions h2 {
    color: rgb(1, 201, 173);
}

#backtotop {
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(156, 68, 9);
    padding: 5px 10px;
    border-radius: 5px;
}

#backtotop:hover {
    background-color: rgb(209, 118, 57);
}


.footer a{
    text-decoration: none;
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 16px;
    right: 0;
    bottom: -1400px;
}


.footer a:visited, .footer a:link {
    color: rgb(247, 202, 165);
}


.footer a:visited:hover, .footer a:link:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(253, 232, 214);
    transition: 0.5s;
}

.footer img {
    width: 16px;
    height: auto;
    margin-right: 10px;
}