body{
    background-image: none;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}






.footer {
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.footer a:visited, .footer a:link {
    color: rgb(247, 202, 165);
}

.footer img {
    width: 16px;
    height: auto;
    margin-right: 10px;
}