body{
    background-image: none;
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topcontent {
    background-image: url("../images/rusty-book.jpg");
    height: 645px;
    background-size: cover;
    background-position: middle;
    margin: 0;
    overflow: auto; /*this prevents the margin of .mainquote apply to backgorund image as well*/
}

.mainquote{
    margin-top: 90px;
}

.highlighttext {
    color: rgb(209, 118, 57);
    font-size: 120px;
}

.mainquote h1{
    text-align: center;
    color:whitesmoke;
    font-size: 80px;
    text-shadow: 2px 2px rgba(156, 68, 9, 0.5);
}

.mainquote h3{
    text-align: right;
    margin-right: 350px;
    color: whitesmoke;
    font-size: 25px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.mainquote p {
    padding: 2px 8px;
    border-radius: 5px;
    color: rgb(245, 245, 245);
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 300px;
    margin-left: 940px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.mainquote a {
    width: fit-content;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    padding: 1px 5px;
    text-align: center;
    margin-right: 350px;
    margin-left: 950px;
    color: whitesmoke;
    font-size: 15px;
}

.mainquote a:visited:hover, .mainquote a:link:hover {
    background-color: rgb(209, 118, 57);
    color: whitesmoke;
    transition: 0.5s;
}

.mainquote a:link {
    color: rgb(156, 68, 9);
    text-decoration: none;
}

.mainquote a:visited {
    color: rgb(156, 68, 9);
    text-decoration: none;
}

.top-selling-content{
    padding: 40px 0px;
    height: 480px;
    width: 100%;
    background-image: url("../images/bookshelf-with-lights.jpg");
    background-size: cover;
    background-position: 80px;
}

.book-of-month{
    display: block;
    float:left;
    margin-left: 40px;
    background-color: rgb(4, 128, 128);
    background-size: cover;
    border-radius: 10px;
    color: whitesmoke;
    height: 400px;
    width: 300px;
    padding: 15px;
    text-align: center;
}

.author-of-month{
    display: block;
    float:left;
    margin-left: 65px;
    background-image: url("../images/george-rr-martin.jpg");
    background-size: cover;
    border-radius: 10px;
    color: whitesmoke;
    height: 400px;
    width: 300px;
    padding: 15px;
    text-align: center;
}

.author-of-month h1 {
    margin-top: 120px;
}

.book-of-month h1 {
    margin-top: 150px;
}

.slideshow {
    float: right;
    margin-right: 40px;
}

.slideshow img {
    border-radius: 10px;
    height: 400px;
    width: auto;
}

.bottom-content {
    height:700px;
    float: none;
    color: whitesmoke;
    background-color: rgb(133, 90, 90);
}

.info-content {
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 40px;
    float: left;
    background-color: whitesmoke;
    width: 665px;
    height: 400px;
}

.info-content h1 {
    color: rgb(0, 144, 124);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.whybuy-content ul {
    list-style: circle;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.whybuy-content ul li {
    margin-top: 5px;
}

.contentbox-container {
    margin: 10px 10px 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    height: fit-content;
    width: fit-content;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.contentboxes{
    background-image: url(../images/yellow-bulb.jpg);
    background-size: cover;
    background-position: ;
    float: right;
    margin-right: 40px;
    margin-top: 40px;
    width: 710px;
    height: 550px;
    padding: 10px;
    border-radius: 10px;
}

.vision-box {
    width: 500px;
    background-color: rgb(133, 90, 90);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.mission-box{
    width: 500px;
    background-color: rgb(133, 90, 90);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    
}

.contentboxes img {
    width: 80px;
    height: auto;
    margin-left: 210px;
    margin-bottom: 10px;
}

.contentboxes h1 {
    text-align: center;
}


.totop #backtotop {
    position: absolute;
    margin-left: -700px;
    margin-top: 460px;
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(156, 68, 9);
    padding: 5px 10px;
    border-radius: 5px;
}

#backtotop:hover {
    background-color: rgb(209, 118, 57);
}

.footer a{
    text-decoration: none;
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 16px;
    right: 0;
    bottom: -730px;
}

.footer a:visited, .footer a:link {
    color: rgb(247, 202, 165);
}


.footer a:visited:hover, .footer a:link:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(253, 232, 214);
    transition: 0.5s;
}

.footer img {
    width: 16px;
    height: auto;
    margin-right: 10px;
}