* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

body {
    background-image: url("../images/bookshelf.jpg");
}

/*
.formcontent {
    display: none;
}
*/

form {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius:15px;
    padding: 25px;
    float:right;
    margin: 10vh 30vh 10vh 10vh;
}

form fieldset{
    border: none;
}

form #formtitle{
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
    
}

form .details label{
    display: inline-block;
    width: 400px;
    text-align: left;
    margin-bottom: 5px;
}

form #querylabel {
    text-align: left;
    width: 200px;
}

form .details input, select{
    padding: 5px;
    width: 100%;
    height:40px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-style: none;
}

form textarea{
    border-radius: 10px;
    border-style: none;
    width: 100%;
    padding: 10px;
}


.details {
    margin: 10px 10px 10px 10px;
}


.leftinfo{
    display: block;
    width: fit-content;
    float:left;
    background-color: rgb(255, 255, 255, 0.85);
    border-radius:15px;
    padding: 25px;
    margin: 10vh 20vh 10vh 30vh;
}

.leftinfo .contactinfo img {
    width: 50px;
    height: auto;
}



.linktofaqs a:link {
    color: rgb(255, 255, 255);
}

.linktofaqs a:visited {
    color: rgb(255, 255, 255);
}

.linktofaqs a{
    margin-left: 75px;
    margin-top: 10px;
    background-color:rgb(156, 68, 9);
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}

.linktofaqs a:hover{
    background-color: rgb(209, 118, 57);
    color: white;
    transition: .5s;
}

.linktofaqs h3, .linktofaqs p{
    color:rgb(127, 56, 8) ;
}