* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
}

body {
    background-image: url("../images/bookshelf.jpg");
    background-size: cover;
}

.formcontent {
    display: block;
}

.verifiedouter {
    display: none;
    float:right;
    margin: 5vh 30vh 10vh 10vh;
    width: 500px;
    height: 750px;
}
.verifiedformcontent {
    background-color: rgba(245, 245, 245, 0.85);
    border-radius:15px;
    padding: 25px;
}

form {
    background-color: rgba(245, 245, 245, 0.85);
    border-radius:15px;
    padding: 25px;
    width: 500px;
    height: 750px;
    float:right;
    margin: 5vh 30vh 10vh 10vh;
}

form fieldset{
    border: none;
}

form #formtitle{
    font-size: 32px;
    text-align: center;
    margin-bottom: 12px;
    
}

form .details label{
    display: inline-block;
    width: 400px;
    text-align: left;
    margin-bottom: 5px;
}

form #querylabel {
    text-align: left;
    width: 200px;
}

form .details input, select{
    font-size: 16px;
    padding: 5px;
    width: 100%;
    height:40px;
    margin-bottom: 15px;
    border-radius: 10px;
    border-style: none;
}

form textarea{
    font-size: 16px;
    border-radius: 10px;
    border-style: none;
    width: 100%;
    padding: 10px;
}

form #submitbutton {
    display: none;
}

form #viewquerybutton {
    font-size: 16px;
    padding: 10px 15px;
    border-radius:10px;
    background-color:rgb(156, 68, 9);
    color: whitesmoke;
    margin-left: 165px;
    margin-top: 20px;
    border-style: none;
}

form #resetbutton{
    font-size: 16px;
    padding: 8px 12px;
    border-radius:10px;
    background-color:rgb(98, 98, 98);
    color: whitesmoke;
    margin-left: 90px;
    margin-top: 20px;
    border-style: none;
}

form #viewquerybutton:hover, form #resetbutton:hover {
    background-color: rgb(209, 118, 57);
    transition: 0.5s;
}

.verifiedformcontent h3 {
    width: 100%;
    text-align: center;
    font-size: 32px;
}

.verifiedformcontent h4 {
    margin-top: 15px;
    font-size: 16px;
}

.verifiedformcontent a {
    font-size: 18px;
}

.verifiedformcontent #sendbutton {
    font-size: 16px;
    padding: 10px 16px;
    border-radius:10px;
    background-color:rgb(156, 68, 9);
    color: whitesmoke;
    border-style: none;
    margin-left: 175px;
    margin-top: 25px;
}

.verifiedformcontent #editbutton {
    font-size: 16px;
    padding: 8px 12px;
    border-radius:10px;
    background-color:rgb(98, 98, 98);
    color: whitesmoke;
    border-style: none;
    margin-left: 90px;
    margin-top: 25px;
}

.verifiedformcontent #editbutton:hover, .verifiedformcontent #sendbutton:hover {
    background-color: rgb(209, 118, 57);
    transition: 0.5s;
}

.details {
    margin: 20px 10px 10px 10px;
}

.leftinfo .quote{
    display: block;
    width: 400px;
    float:left;
    /*background-color: rgb(255, 255, 255, 0.85);*/
    border-radius:15px;
    padding: 25px;
    margin: 20px 20px 20px 220px;
}

.leftinfo .contactinfo{
    display: block;
    width: 300px;
    float:left;
    background-color: rgba(245, 245, 245, 0.85);
    border-radius:15px;
    padding: 25px;
    margin: 10px 20px 20px 270px;
}

.leftinfo .linktofaqs{
    display: block;
    width: fit-content;
    float:left;
    background-color: rgb(245, 245, 245, 0.85);
    border-radius:15px;
    padding: 25px;
    margin: 10px 20px 20px 275px;
}

.leftinfo .quote #lequote{
    color:rgb(255, 255, 255);
    font-size: 32px;
}

.leftinfo .quote #lequotedfrom{
    text-align: right;
    color:rgb(1, 201, 173);
    font-size: 16px;
}

.leftinfo .contactinfo img {
    width: 50px;
    height: auto;
    margin-left: 100px;
}

.leftinfo .contactinfo .infobox h3 {
    font-size: 16px;
    text-align: center;
} 

.leftinfo .contactinfo .infobox p {
    font-size: 18px;
    color: rgb(0, 144, 124);
    text-align: center;
}

.linktofaqs a:link {
    color: rgb(245, 245, 245);
}

.linktofaqs a:visited {
    color: rgb(245, 245, 245);
}

.linktofaqs a{
    text-decoration: none;
    margin-left: 75px;
    margin-top: 10px;
    background-color:rgb(156, 68, 9);
    border-radius: 8px;
    padding: 5px 10px 5px 10px;
}

.linktofaqs a:hover{
    background-color: rgb(209, 118, 57);
    color: white;
    transition: .5s;
}

.footer a{
    text-decoration: none;
    color: rgb(247, 202, 165);
    position: absolute;
    display: block;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 16px;
    right: 0;
    bottom: -250px;
}

.footer a:visited, .footer a:link {
    color: rgb(247, 202, 165);
}


.footer a:visited:hover, .footer a:link:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(253, 232, 214);
    transition: 0.5s;
}

.footer img {
    width: 16px;
    height: auto;
    margin-right: 10px;
}