/*Quiz javaCSS - Diman*/
* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    background-color: bisque;
    background-image: url(../images/bb1.jpg);
}

.quizform{
    background-color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 100px;
    padding: 40px;
}

h1{text-align: center;
font-weight: bold;
color: white;}

h3{text-align: right;
font-weight: bold;
font-size: x-large;}

#btton{
    border-style: none;
    background-color: rgb(156, 68, 9);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-left: 600px;
}

#btton1{
    width: 200px;
    border-style: none;
    background-color: rgb(156, 68, 9);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-left: 675px;
    margin-top: 100px;
    margin-bottom: 50px;
}

#btton:hover{
    background-color: rgb(209, 118, 57);
    transition: 0.5s;
}

.quiz-time {
    width: fit-content;
    background-color: aqua;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin-right: 120px;
    margin-top: 40px;
    float: right;
}

.top-quiz{
    margin-top: 40px;
}

.bottom-quiz{
    width: 300px;
    height: 200px;
    background-color: bisque;
    border-radius: 10px;
    padding: 10px;
    margin-left: 100px;
    font-size: 20px;
}

.button2{
    width: fit-content;
    border-style: none;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    color: white;
    font-size: 16px;
    padding: 10px;
    margin-left: 724px;
}